.MainHeader{
  background-image: linear-gradient(to right, #095FA4, #08417F);
  padding-top: 40px;
  color: white;
  .menu{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    a{
      text-decoration: none;
      color: white;
    }
    .link{
      padding: 10px;
      box-sizing: border-box;
      transition: 0.4s;
      &:hover{
        background-color: #365ee4;
      }
    }
    .contact{
      .link{
        border: 1px solid #0DC5AB;
        color: #0DC5AB;
        background: transparent;
        border-radius: 6px;
      }
    }
  }
  .header-content{
    width: 60%;
    margin: 200px auto 0 auto;
    padding-bottom: 150px;
    .first-impression{
      display: flex;
      .texts{
        width: 50%;
        p{
          font-size: 20px;
        }
        .btn-journey-start{
          background-color: #0DC5AB;
          margin-top: 34px;
          border-radius: 4px;
          letter-spacing: 1px;
          text-transform: uppercase;
          padding: 17px 40px;
          width: max-content;
          font-weight: bold;
          &:hover{
            cursor: pointer;
          }
        }
      }
      .gif-box{
        width: 50%;
        .gif{
          width: 100%;
        }
      }
    }
  }
}

.headerScrolled{
  background: #095FA4;
  transition: background-color 0.5s ease-out;
	z-index: 10;
}

