
.header {
  position: sticky;
  top: 0;
  z-index: 12;
  //margin-top: -1px;
  //padding-top: -2px;
  //overflow: hidden;
}


.MainHeader {
  background: #f6f8fa 0 0 no-repeat padding-box;
  padding-top: 40px;
  color: #08064f;
  .header-content {
    margin: 150px auto 0 auto;
    //width: 70%;
    padding-bottom: 150px;
    .first-impression {
      display: flex;
      .texts {
        width: 50%;
        p {
          font-size: 20px;
        }
        .btn-journey-start {
          background-color: #046af3;
          margin-top: 34px;
          border-radius: 4px;
          text-transform: uppercase;
          padding: 17px 40px;
          width: max-content;
          color: white;
          box-shadow: 0 10px 20px #046af34d;
					box-sizing: border-box;
          &:hover {
            cursor: pointer;
            color: #046af3;
            background-color: white;
            border: 1px solid #046af3;
          }
        }
      }
      .gif-box {
        width: 60%;
        .gif {
          position: relative;
          top: -10%;
          left: -30%;
          width: 150%;
        }
      }
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  //width: 60%;
  //margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  a {
    text-decoration: none;
    color: black;
		box-sizing: border-box;
    &.active {
      color: grey;
    }
    &.center-link {
      margin: 0 7px;
    }
    &.cont {
      border: 1px solid #046af3;
      border-radius: 4px;
      color: #046af3;
      padding: 13px 39px;
			transition: 0.4ms;
			&:hover{
				background-color: #046af3;
				color: white;
			}
    }
  }
}

.header-scrolled {
  background-color: #517de0;
  transition: background-color 0.5s ease-out;
  z-index: 10;
  color: white;
  a {
    color: white;
  }
  //z-index: 10;
}

.info-header {
  width: 100%;
  background-color: #046af3;
  .wrap-header {
    font-size: 12px;
    //width: 60%;
    display: flex;
    justify-content: space-between;
    //margin: auto;
    .texts {
      display: flex;
      align-items: center;
      span {
        margin: 0 5px;
        color: #fff;
      }
    }
      .icon-wrap{
        display: flex;
        .icon {
          width: 14px;
          margin-right: 15px;
          margin-top: 12px;
          margin-bottom: 12px;
          box-sizing: border-box;
        }
        .lang-select{
          width: fit-content;
          margin: 0;
          padding-right: 6px;
          border: none;
          appearance: none;
          color: white;
          background-image: url("../img/iconmonstr-angel-down-thin.svg");
          background-repeat: no-repeat;
          background-size: 9px;
          background-position-x: right;
          background-position-y: center;
          background-color: transparent;
        }
      }
  }
  &.scroll {
    background-color: #fff;
    .texts {
      span {
        color: black;
      }
    }
  }
}

/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
  margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  background-color:#0060c8!important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {

  /* remove the padding from the navbar so the dropdown hover state is not broken */
  .navbar {
    padding-top:0px;
    padding-bottom:0px;

  }

  /* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
  .navbar .nav-item {
    padding:.5rem .5rem;
    margin:0 .25rem;
  }

  /* makes the dropdown full width  */
  .navbar .dropdown {position:static;}

  .navbar .dropdown-menu {
    width: 135%;
    left: -290px;
    //right:0;
    /*  height of nav-item  */
    top: 53px;

    display:block;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s linear;
  }




  /* shows the dropdown menu on hover */
  .navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
    display:block;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s linear;

  }

  .navbar .dropdown-menu {
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
    z-index: 11;
  }

}
