.slider{
  width: 60%;
  margin: auto;
  .trusted-companies-box{
    z-index: 1;
    box-shadow: -10px 20px 60px rgba(110,133,168,.128141);
    background-color: #fff;
    width: 100%;
    position: relative;
    top: -50px;
    border-radius: 20px;
    color: black;
    padding-bottom: 20px;
    h4{
      text-align: center;
      padding-top: 16px;
    }
    .trusted-companies{
      display: flex;
      justify-content: space-around;
      .company{
        &.current{
          background-color: blue;
        }
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
  .slides{
    .slide{
      display: flex;
      .information{
        width: 50%;
        .techs{
          display: flex;
          flex-wrap: wrap;
          .tech{
            width: 150px;
            height: 30px;
          }
        }
      }
      .photo{
        width: 50%;
        @include flexCenter();
      }
    }
  }
}