@import './templates';
@import './initial';
@import './header';
@import './projects';
@import './rubikFonts';
@import './slider';
@import 'feedback';
@import './UI/button';
@import 'footer';


.px {
  &-20 {
    font-size: 20px;
  }
}

.fw- {
  &400 {
    font-weight: 400;
  }

  &500 {
    font-weight: 500;
  }
}

.baseGrayColor {
  color: #ADB4C2;
}

.baseLightBlueColor {
  color: #2280FF;
}
